@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .tricolor {
    background: linear-gradient(
      to right,
      #ff9933 30%,
      #ff9933 34%,
      #ffffff 34%,
      #ffffff 66%,
      #128807 66%,
      #128807 70%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
}
body {
  min-height: 100vh;
  max-height: 100vh;
}
